<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    
    body{
        padding: 10px 100px;
    }
    form{
        padding: 20px 50px;
        border: 4px dashed black;
        width: 400px;
        display: inline-block;

    }
    label{
        font-weight: bold;
    }
    .inlineblock{
        display: inline-block;
    }
    .table{
        display: inline-block;
        width: 50%;
        margin:  0px 10px 0px 100px;
        vertical-align: top;
    }
    </style>
    </head>
        <h1>Add a New Author</h1>
        <form action='/authors' method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1" class="inlineblock">First Name: </label>
                <input type='text' name='fname' class="form-control" placeholder="Enter the first name" class="inlineblock">
            </div>
    
            <div class="form-group">
                <label for="exampleInputEmail1" class="inlineblock">Last Name: </label>
                <input type='text' name='lname' class="form-control" placeholder="Enter the last name" class="inlineblock">
            </div>

            <br>
            <div class="form-group">
                <label for="exampleInputEmail1" class="inlineblock">Note : </label>
                <textarea name='note' rows="5" cols="10" type='text'  class="form-control" class="inlineblock" ></textarea>
                
            </div>
    
            <button type="submit" value='create user' class="btn btn-primary">Add</button>
        </form>

        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for auth in all %}
                    <tr>
                        <th scope="row">{{ auth.id }}</th>
                        <td>{{ auth.first_name }} {{ auth.last_name }}</td>
                        <td><a href="http://127.0.0.1:8000/authors/{{ auth.id }}">view</a></td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>